<!-- list of images -->
<div class="image-list full-bleed <%= _class %>">
	<% for(var i = 0; i < content.length; i++ ) { %>
		<img class="temp-image <%= _class %>" src="<%= content[i] %>">
	<% } %>
</div>