<!-- map -->
<div class="map <%= _class %>">
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= content.replace(/ /g, '\+') %>&size=640x640&sensor=false&markers=<%= content.replace(/ /g, '\+') %>" />
</div>