
<!-- 3d model -->
<div class="model <%= _class %>" id=" <%= 'model' + _id %>">
	<a href="<%= content %>">Download the sketchup file</a>
</div>
<div id="model-container"></div>
<script type="text/javascript" src="/public/js/model.js"></script>