<% layout('layout') -%>

<p>Hello, world!</p>
<%- partial('partials/model',
    { _class: '', content: 'dGUrytaktlDeNudCEGKk31oTJY'}) %>
<%- partial('partials/map',
    { _class: '', content: '11 Rue Berryer, 75008 Paris, France' }) %>