<% layout('layout') -%>

<p>Hello, world!</p>
<%- partial('partials/model',
    { _class: '', content: 'dGUrytaktlDeNudCEGKk31oTJY'}) %>
<%- partial('partials/map',
    { _class: '', content: [39.950382,-75.196644] }) %>