layout('layout')

<script type="text/javascript" src="/public/js/proposal.js"></script>
<form id="proposal" action="/plan/<%=plan._id%>/proposal/new" method="POST" enctype="multipart/form-data" target="/<%=school._id%>/<%=plan._id%>">
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="Author" name="author">
  <div id="proposal-elements"></div>
  <ul id="proposal-buttons">
    <li><button type="button" onclick="window.addTextInput()">Add text</button></li>
    <li><button type="button" onclick="window.addSubheaderInput()">Add subheader</button></li>
    <li><button type="button" onclick="window.addProminentInput()">Add prominent text</button></li>
    <li><button type="button" onclick="window.addImageInput()">Add image</button></li>
    <li><button type="button" onclick="window.addModelInput()">Add model</button></li>
    <li><button type="button" onclick="window.addLocationInput()">Add location</button></li>
  </ul>
  <button type="submit">Submit proposal</button>
</form>
