<% layout('layout') -%>
<div class="school-container">
	<div class="header">
		<img class="header-cover-image" src="<%= cover_image %>">
		<%= name %>
	</div>

	<div class="nav">
		<% for(var i = 0; i < plans.length; i++) { %>
			<div class="nav-plan">
				<img class="nav-plan-thumbnail" src="<%= plans[i].image_thumbnail %>">
				<div class="nav-plan-title"> <%= plans[i].title %> </div>
			</div>
		<% } %>
	</div>

	<div class="plan-container">
		<!-- insert proposal here -->
	</div>
</div>