$line-height: 22px;
$base-text-size: 18px;

$body-stack: "Adelle", georgia;
$title-stack: "Myriad Pro", helvetica, tahoma, sans-serif;

$background-color: #111114;
$foreground-color: #F1F1DC;

$shadow-primary-tier: 0px 5px 5px black;
$shadow-secondary-tier: 0px 2px 5px black;

$shadow-text: 0px 1px 0.1em rgba(0, 0, 0, 0.7),
			  0px 0px 1px rgba(0, 0, 0, 0.7);

$nav-width:  14 * $line-height;

@mixin covered-image  {
	background-size: cover;
}

@mixin title-text {
	font-family: $title-stack;
	font-weight: 700;
	letter-spacing: -0.04em;
}

@mixin subhead-text {
	font-family: $title-stack;
	font-weight: 400;
}

@mixin label-text {
	font-family: $title-stack;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

html, body {
	font-family: "adelle", georgia;
	font-size: 14px;
	background-color: $background-color;
}

.header {
	@include covered-image;
	@include title-text;

	$header-text-size: $base-text-size * 4;
	font-size: $header-text-size;
	color: white;
	text-shadow: $shadow-text;
	vertical-align: bottom;

	@include calc("padding-top", ( -1 * #{$header-text-size} + 25%) );
	padding-bottom: $line-height * 1;
	padding-left: $line-height * 2;

	box-shadow: $shadow-secondary-tier;
	margin-bottom: $line-height * 2;
}

.nav {
	@include label-text;
	position: absolute;
	left: 0;
	color: white;
	width: $nav-width;

	.nav-plan {
		width: 8 * $line-height;
		margin-left: 1 * $line-height;
	}

	.nav-plan-thumbnail {
		width: 100%;
		box-shadow: $shadow-secondary-tier;
	}

	.nav-plan-title {
		text-align: center;
		text-shadow: $shadow-text;
	}
}

.plan-container {
}

.plan-container {
	
	box-shadow: $shadow-secondary-tier;
	$plan-padding: 2 * $line-height;
	padding: $plan-padding/2 0;

	background-color: $foreground-color;
	@include calc("width", ( -1 *  #{$nav-width} + 100%) );
	float: right;
	margin-right: 0.25 * $nav-width;

	@mixin text-max-width {
		max-width: 30 * $line-height;
	}

	@mixin element-spacing {
		padding: $line-height 0;
		margin: 0 $plan-padding;
	}

	.plan-title {
		@include title-text;
		@include element-spacing;
		$text-size: $base-text-size * 3;

		font-size: $text-size;

		$padding-remainder: 3 * $line-height - $text-size;

		padding-top: $padding-remainder * (2/3);
		padding-bottom: $padding-remainder / 3;
	}

	.body-text {
		@include text-max-width;
		@include element-spacing;

		font-size: $base-text-size;
		line-height: $line-height;
	}

	.subhead {
		@include subhead-text;

		font-size: $line-height;
	}

	.prominent {
		max-width: 45 * $line-height;
		font-size: 1.5 * $base-text-size;
		line-height: 1.5 * $line-height;
		font-style: italic;
	}

	.image.full-bleed {
		width: 100%;
		min-height: $line-height * 20;
		background-size: cover;
		background-position: center;
	}
}