<head>
  <title>Change Me Maybe!!!!!!</title>

  <!-- typkit embed code -->
  <script type="text/javascript" src="//use.typekit.net/erj0eff.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- end typkit code -->
</head>
<body>
  <form id="proposal" action="/plan/<%=plan._id%>/proposal/new" method="POST" enctype="multipart/form-data" target="/<%=school._id%>/<%=plan._id%>">

    <input type="text" placeholder="Title" name="title">

    <input type="text" placeholder="Author" name="author">

    <div id="proposal-elements"></div>

    <ul id="proposal-buttons">

      <li><button type="button" onclick="window.addTextInput()">Add text</button></li>

      <li><button type="button" onclick="window.addSubheaderInput()">Add subheader</button></li>

      <li><button type="button" onclick="window.addProminentInput()">Add prominent text</button></li>

      <li><button type="button" onclick="window.addImageInput()">Add image</button></li>

      <li><button type="button" onclick="window.addModelInput()">Add model</button></li>

      <li><button type="button" onclick="window.addLocationInput()">Add location</button></li>

    </ul>
    <button type="submit">Submit proposal</button>

    <div class='text-imput-container'>
      <textarea class="text-imput">
      </textarea>
    </div>


    <div class='prominent-input-container'>
      <textarea class="prominent-input">
      </textarea>
    </div>

    <div class='subheader-input-container'>
      <input type="text" class="subheader-input">
    </div>

    <div class='image-input-container'>
      <input type="file" class="image-input" accept='image/*'>
    </div>

    <div class='image-strip-input-container'>
      <input type="file" class="image-strip-input" accept='image/*' multiple="true">
    </div>

    <div class='model-input-container'>
      <input type="file" class="model-input" accept='model/*'>
    </div>

    <div class='location-input-container'>
      <input type="text" class="location-input">
    </div>

  </form>

</body>
</html>