<!doctype HTML>
<html>
<head>
	<title>Change Me Maybe!!!!!!</title>
</head>
<body>	
	<div class="school-container">
		<div class="header">
			<!-- removed penn cover image -->
			University of Pennsylvania
		</div>

		<div class="nav">
			<div class="nav-plan">
				<img class="nav-plan-thumbnail" src="<%= plan[i].image_thumbnail %>">
				<div class="nav-plan-title"> <%= plan[i].title %> </div>
			</div>
		</div>

		<div class="proposal-container">
			<!-- insert proposal here -->
		</div>
	</div>
</body>
</html>